.calculator {
  width: 200px;
  margin: auto;
  margin-top: 250px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
  
  margin-bottom: 10px;
  text-align: right;
}

.input {
  font-size: 1.5em;
  background-color: aqua;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
}

.result {
  font-size: 1.2em;
  padding: 5px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  font-size: 1.2em;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f5f5f5;
}

button:hover {
  background-color:#00ffff;
}



