.header{
    background-color:black;
    color: white;
}
.canvas{
    background-color: white;
}
.fst:hover {
    background-color: #aaaaaa;
    padding: 0% ;
}


.fst:focus {
    border-left: 4px solid #897cfc ;
}

