.sidebar{
    background-color: #FFF3CF;
    height: 100vh !important;
}

.sidebar span:hover {
    border-left: 4px solid #E8C872; 
}

.sidebar span:focus {
    outline: none; 
    border-left: 4px solid #E8C872 ;
}

.body{
    background-color: #C9D7DD;
}

.just{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
